.footer_info {
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 2px black;
  width: 90%;
  margin: 2rem auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.8rem;
}

@media only screen and (min-width: 560px) {
  .footer_info {
    flex-direction: row;
    justify-content: space-around;
  }
}