.TodoItem {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  margin: 1rem 0;
  border-radius: 20px;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(42, 30, 112);
  box-shadow: 3px 3px black;
  border: 1px solid black;
  &-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    &--complete {
      text-decoration: line-through;
    }
  }
}
.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
  /* background-color: #CCC; */
  &-check {
    &--active {
      color: green;
    }
  }
  &-delete {
    &:hover {
      color: red;
    }
  }
}